@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: hsl(47, 88%, 63%);
    --text-color:  hsl(0, 0%, 42%);
    --text-color2: hsl(0, 0%, 7%);
    --font-size: 16px;
    --font-style: 'Figtree', san-serif;
    --bold: 800;
    --normal: 500;
    --card-color:hsl(0, 0%, 100%);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    font-family: var(--font-style);
    line-height: 1.5;
}

.container {
    border: 1px solid black;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 8px 7px black;
    background-color: var(--card-color);
    margin-bottom: 1.2rem;
}
.firstcomp, .second {
    max-width: 93%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.firstcomp img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.learn {
    font-size: 1rem;
    background-color: var(--background-color);
    width: 25%;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.published {
    font-size: 0.8rem;
    font-weight: var(--normal);
    color: var(--text-color2);
}

.mainhead{
    font-size: 1.2rem;
    color: var(--text-color2);
    margin-top: 10px;
}

.content {
    color: var(--text-color);
    font-size: 16px;
}

.avatar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.2rem auto;
}
.avatar img {
    width: 12%;
}

.name {
    font-weight: var(--bold);
    color: var(--text-color2);
}

@media (min-width: 375px) {
    .mainhead:hover {
        color: var(--background-color);
        cursor:default;
    }
}